<div style="height: 20px"></div>
<div class="content-background">
    <div class="content">
        <h2>Voor dit process heeft u de volgende documenten nodig</h2>
            {% if process.documents is defined and process.documents is not empty%}
            {% for document in process.documents %}
                <ul class="list list--timeline list--timeline-compact">
                    <li class="list__item"><b>{{ document|capitalize }}</b></li>
                </ul>
            {% endfor %}
            {% else %}
                <ul class="list list--timeline list--timeline-compact">
                    <li class="list__item"><b>Geen</b></li>
                </ul>
            {% endif %}
    </div>
</div>
