<div class="content-background">
    <div class="content">
        {{ process.description }}
    </div>
</div>

<!-- Page Break -->
<div style="height: 20px"></div>

<div class="content-background">
    <div class="content">
        <h2>Dit procces bestaad uit de volgende stappen</h2>

        <ul class="list list--timeline list--timeline-compact">
        {% for iteratedStage in process.stages %}
            <li class="list__item"><b>{{ iteratedStage.name|capitalize }}</b>{% if iteratedStage.sections|length == 1%} ({{ iteratedStage.sections|length }} vraag) {% else %} ({{ iteratedStage.sections|length }} vragen) {% endif %}</li>
        {% endfor %}
        </ul>
    </div>
</div>

