
<div class="input input--horizontal">
    <div>
        <label class="input__label" for="{{ property.id }}">{{ property.title }}</label>
    </div>
    <input type="file" id="file" name="request[properties][{{ property.name }}]">
</div>

